<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="increment()">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <div class="btn btn-outline-primary" (click)="open(content)">Login</div>
    </div>
  </nav>

  <ng-template #content let-modal>
    
    <div class="modal-body">
        <button type="button" class="close mb-2" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
          <p *ngIf="statusForm" [ngClass]="statusForm ? 'invalid-text' : ''">Invalid form</p>   
          <p *ngIf="statusUser" [ngClass]="statusUser ? 'invalid-text' : ''">Incorrect username or password</p>   
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="username">Username</label>
              <input type="email" class="form-control" formControlName="username" 
                      id="username" [ngClass]="statusForm || statusUser ? 'invalid-input' : ''" aria-describedby="username"
                      (keyup)="onchange()"
                      >                         
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [ngClass]="statusForm || statusUser ? 'invalid-input' : ''" formControlName="password" id="password" (keyup)="onchange()">              
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="rememberme">
              <label class="form-check-label" for="rememberme">Remember me</label>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <button type="submit" class="btn btn-outline-primary" >Submit</button>
          </form>
    </div>   
  </ng-template>