<div class="container mt-5">
    <h2 class="mb-5">Product Detail</h2>
    <form>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="name">Name Product</label></div>
            <div class="col-3 float-left"><input type="text" class="form-control" id="name"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="price">Price</label></div>
            <div class="col-2 float-left"><input type="number" class="form-control" id="price"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="category">Category</label></div>
            <div class="col-4 float-left">
                <select class="custom-select" id="category">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="expDate">Exp Date</label></div>
            <div class="col-2 float-left"><input type="date" class="form-control" id="expDate"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-6"></div>
            <div class="col"><button class="btn btn-outline-success ">Submit</button></div>
           
        </div>
        
    </form>
</div>
