<div class="container mt-5">
    <h2 class="mb-5">Product Detail</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit(product.id)">
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="name">Name Product</label></div>
            <div class="col-3 float-left"><input type="text" formControlName="name" class="form-control" id="name"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="price">Price</label></div>
            <div class="col-2 float-left"><input type="number" formControlName="price" class="form-control" id="price"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="category">Category</label></div>
            <div class="col-4 float-left">
                <select class="custom-select" id="category" formControlName="categoryId">
                    <ng-container *ngFor="let category of categories; index as i">
                        <option *ngIf="product.categoryId === category.id; else cate" selected value="{{category.id}}">{{category.name}}</option>
                        <ng-template #cate>
                            <option  value="{{category.id}}">{{category.name}}</option>
                        </ng-template>                        
                    </ng-container>
                  </select>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="expDate">Exp Date</label></div>
            <div class="col-2 float-left"><input type="date" formControlName="expDate" class="form-control" id="expDate"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-3 text-right size-label mr-3"><label for="createBy">Create By</label></div>
            <div class="col-2 float-left"><input type="text" formControlName="createBy" class="form-control" id="createBy"></div>
        </div>
        <div class="form-row mb-3">
            <div class="col-6"></div>
            <div class="col"><button class="btn btn-outline-primary ">Save</button></div>           
        </div> 
        
    </form>
</div>
